@charset "UTF-8";
/* Formatação do corpo inteiro */
body {
    background-color: #dddddd;
    color: rgba(0,0,0,1);
}

div#interface {
    background-color: #ffffff;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}

p {
    text-align: justify;
    text-indent: 50px;
}

/* Formatação da barra de pesquisa*/

nav#login ul {
    margin-right: 0px;
}

nav#menu {
    margin-top: -21px;
}

/* Formatação do rodapé */
footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p {
    text-align: center;
}

input#searchbar {
    padding-right: 200px;
}

/* Formatação da Section*/
div#novidades {
    display: block;
    position: relative;
    margin: 0 auto;
}
div#novidades img {
    width:100%;  
}


div#arrowleft {
    
    box-sizing: border-box;
    left: 20px;
    position: absolute;
    top: 71px;
    opacity: 0.6;
    background-color: #ccc;
    border-radius: 50%;
    width: 56px;
    height: 60px;
    cursor: pointer;
    font-size:4em;
}

div#arrowright {
    box-sizing: border-box;
    right: 20px;
    position: absolute;
    top: 71px;
    opacity: 0.6;
    background-color: #ccc;
    border-radius: 50%;
    width: 56px;
    height: 60px;
    cursor: pointer;
    font-size:4em;
}

