@charset "UTF-8";
/* Formatação do corpo */
body {
    background-color: #dddddd;
    color: rgba(0,0,0,1);
}

div#interface {
    background-color: #ffffff;
    margin: 0px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}

p {
    text-align: justify;
    text-indent: 50px;
}

/* Formatação da barra de pesquisa*/

nav#login ul {
    margin-right: 0px;
}

nav#menu {
    margin-top: -21px;
}

/* Formatação do rodapé */
footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p {
    text-align: center;
}

input#searchbar {
    padding-right: 200px;
}
