@charset "UTF-8";
/* Formatação do corpo inteiro */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dddddd;
    margin: 0px auto 0px auto;
    color: rgba(0,0,0,1);
}

div#interface {
    background-color: #ffffff;
    margin: 0 auto;
    margin: 0px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}


/* Formatação da barra de pesquisa*/

/* ###Logo, Login e Cadastro### */
nav .Login{
    margin-right: 1%;
}

nav#menu {
    margin-top: -21px;
    background-color: black;
}



/* Formatação do Corpo */


.corpo #Categoria{
    height: 900px;
    background-color:skyblue;
    border-radius: 15px 15px 15px 15px;
    
}
.corpo #Carrinho{
    height: 900px;
    background-color:greenyellow;
    border-radius: 15px 15px 15px 15px;
}
.corpo #Produto{
    height: 900px;
    background-color: indianred;
   border-radius: 15px 15px 15px 15px;
}

/* Formatação do rodapé */
footer#rodape {
    border: 1px solid #606060;
    height: 200px;
    background-color: #606060;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 15px 15px 15px 15px;

}

footer#rodape p {
    text-align: center;
}
#informacoes{
    height: 180px;
    border-radius: 10px 10px 10px 10px;
    margin: 0.8%;
    background-color: aqua;
    
}
#informacoes p{
    font-family: arial, sans-serif;
    margin-top: 3%;
    font-size: 86%;
    text-align: center;
}
#newsletter{
    height: 180px;
    border-radius: 10px 10px 10px 10px;
    margin:auto;
    margin:    0.8%;
    background-color: aqua;
}
#newsletter p{
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-align:inherit;
    
}
#newsletter #Ok{
    position: absolute;
    float: right;
    
}
.form-group{
    margin-top: -10px;
}
.form-control{
    max-width: 80%;
    min-width: 7%;
}
#newsletter #Ok{
    position: absolute;
    margin-left: 84%;
    margin-top: 10%;
    width: 10%;
    height: 20%;
    border-radius: 5px 5px 5px 5px;
}
#redes{
    height: 180px;
    border-radius: 10px 10px 10px 10px;
    margin: 0.8%;
    background-color: aqua;
    
}
#redes p{
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-align: justify;
  
}
#redes img{
    width:20%;
    height: auto;
    border-radius: 20px;
    margin-left: 10%;
    float: right;
}
