@charset "UTF-8";
/* Formatação do corpo inteiro */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dddddd;
    margin: 0px auto 0px auto;
    color: rgba(0,0,0,1);
}

div#interface {
    background-color: #ffffff;
    margin: 0 auto;
    margin: 0px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}


/* Formatação da barra de pesquisa*/

/* ###Logo, Login e Cadastro### */
nav .Login{
    margin-right: 1%;
}

nav#menu {
    margin-top: -21px;
    background-color: black;
}



/* Formatação do Corpo */


.corpo #Categoria{
    height: 900px;
    background-color:skyblue;
    border-radius: 15px 15px 15px 15px;
    
}
.corpo #Carrinho{
    height: 900px;
    background-color:greenyellow;
    border-radius: 15px 15px 15px 15px;
}
.corpo #Produto{
    height: 900px;
    background-color: indianred;
   border-radius: 15px 15px 15px 15px;
}

div#produtoSlide figure{
    height: 350px;
    background-color: white;
    border:2px solid #000;
}
div#produtoSlide img {
    max-width:100%;
    width: 420px;
    height: 347px;
}

div#arrowleftProduto {
    
    box-sizing: border-box;
    left: 20px;
    position: absolute;
    top: 40%;
    opacity: 0.7;
    background-color: #ccc;
    border-radius: 50%;
    width: 56px;
    height: 60px;
    cursor: pointer;
    font-size:4em;
}

div#arrowrightProduto {
    box-sizing: border-box;
    right: 20px;
    position: absolute;
    top: 40%;
    opacity: 0.7;
    background-color: #ccc;
    border-radius: 50%;
    width: 56px;
    height: 60px;
    cursor: pointer;
    font-size:4em;
}


div#arrowleftProduto:hover, div#arrowrightProduto:hover {
    opacity: 0.5;
}
div#produtos h1{
    font-family: Arial,sans-serif;
    font-size: 35px;
    text-align: center;
    
}
/*Preço do Produto*/

#produto1Preco{
    height: 350px;
    border: 3px solid #000;
}

#produto1Preco #parcela p {
    font-size: 15px;
    margin-top: 15px;
    
}

#produto1Preco #vista{
    margin-top: 45px;
}
#produto1Preco #vista p {
    font-size: 30px;
    font-family: Arial, sans-serif;
    
    
}

#produto1Preco button{
    margin-top: 56px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #02507e;
    border-radius: 25px 25px 25px 25px;
}

#descricao{
    margin-top: 10px;
    height: 1100px;
    border: 3px solid #000;
    font-size:12px;
    
}


/* Formatação do rodapé */
footer#rodape {
    border: 1px solid #606060;
    height: 200px;
    background-color: #606060;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 15px 15px 15px 15px;

}

footer#rodape p {
    text-align: center;
}
#informacoes{
    height: 180px;
    border-radius: 10px 10px 10px 10px;
    margin: 0.8%;
    background-color: aqua;
    
}
#informacoes p{
    font-family: arial, sans-serif;
    margin-top: 3%;
    font-size: 86%;
    text-align: center;
}
#newsletter{
    height: 180px;
    border-radius: 10px 10px 10px 10px;
    margin:auto;
    margin:    0.8%;
    background-color: aqua;
}
#newsletter p{
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-align:inherit;
    
}
#newsletter #Ok{
    position: absolute;
    float: right;
    
}
.form-group{
    margin-top: -10px;
}
.form-control{
    max-width: 80%;
    min-width: 7%;
}
#newsletter #Ok{
    position: absolute;
    margin-left: 84%;
    margin-top: 10%;
    width: 10%;
    height: 20%;
    border-radius: 5px 5px 5px 5px;
}
#redes{
    height: 180px;
    border-radius: 10px 10px 10px 10px;
    margin: 0.8%;
    background-color: aqua;
    
}
#redes p{
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-align: justify;
  
}
#redes img{
    width:20%;
    height: auto;
    border-radius: 20px;
    margin-left: 10%;
    float: right;
}
